# environment
.env

# python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# data — do not commit PDFs
data/

# virtual env
venv/
.venv/
env/

# misc
.DS_Store
*.log
backend/core/config.py
frontend/package-lock.json
frontend/package.json
